* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    height: 100vh;
}
main {
    width: 320px;
    height: 520px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    border: 6px solid black;
    background-color: #eef3e7;
}
.upper {
    margin: 12px 0;
}
.main-content {
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 90%;
}
h1 {
    font-size: 3rem;
    width: max-content;
}
h2 {
    font-size: 2.8rem;
}
#random-cats article {
    display: flex;
    flex-direction: column;
}
button {
    width: max-content;
}
.random-cats-article, .fav-cats-article {
    position: relative;
}
.fav {
    position: absolute;
    right: 5px; 
    bottom: 20px;
    font-size: 3rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: #5e9ea1;
}
img {
    width: 100%;/*cambiar al 100% */
    height: auto;
    margin: 16px 0;
    border-radius: 16px;
}
.none {
    display: none;
}
#uploading-cat {
    height: 395px; 
}
label[for="file"] {
    background-color: #5e9ea1;
    width: 150px;
    height: auto;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transform: scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
#file {
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    position: absolute;
}
.lower {
    display: flex;
    align-items: center;
}
.button {
    width: 60px;
    height: 60px;
    margin: 24px 0;
    background-color: #5e9ea1;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: transaparent;

}
*::-webkit-scrollbar-thumb {
    background-color: #252850;
    border-radius: 20px;
    border: transparent;
}