* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    height: 100vh;
}
main {
    width: 320px;
    height: 520px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    border: 6px solid black;
}
.main-content {
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}
h1 {
    font-size: 3rem;
    width: max-content;
}
h2 {
    font-size: 2.8rem;
}
#random-cats article {
    display: flex;
    flex-direction: column;
}
button {
    width: max-content;
}
.random-cats-article {
    position: relative;
}
.add-to-fav {
    position: absolute;
    right: 5px;
    bottom: 20px;
    font-size: 3rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: cadetblue;
}
img {
    width: 100%;/*cambiar al 100% */
    height: auto;
    margin: 16px 0;
    border-radius: 16px;
}
.none {
    display: none;
}
#cat-button {
    margin: 24px 0;
}